:root {
    /* Light Theme */
    --bold-color-light: #FF2C2CC2;
    --italic-color-light: #DA7DC2DB;
  
    /* Dark Theme */
    --bold-color-dark: #7396AB;
    --italic-color-dark: #DA7DC2DB;
  
    /* General */
    --accent-color: #6EAA7A;
    --internal-link-color: #6EAA7A;
    --external-link-color: #6EAA7A;
    --unresolved-link-color: #9EA3AC;
    --h1-color-dark: #EA5852;
    --outline-border: 7px;
  
    /* Other Settings */
    --link-underline-internal: true;
    --link-underline-unresolved: true;
    --link-underline-external: true;
  }
  
  /* Links */
  a.internal-link {
    color: var(--internal-link-color);
    text-decoration: underline;
  }
  
  a.external-link {
    color: var(--external-link-color);
    text-decoration: underline;
  }
